version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      otel:
        patterns:
          - "go.opentelemetry.io/*"
        update-types:
          - "minor"
          - "patch"
      indirect:
        dependency-type: "indirect"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    labels:
      - "ci/cd"
      - "dependencies"
    commit-message:
      prefix: "ci"
